*{
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
body{
	width: 1000px;
	margin: auto;
	min-height: 1200px;
	background: url(../img/pexels-photo-258136.jpeg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}
header{
	position: relative;
}
p,h2{
	color: #fff;
}
ul{
	list-style-type: none;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
nav{
	position: absolute;
	top: 0px;
	right: 0px;
}
header h2{
	font-size: 30px;
}
header p{
	font-size: 19px;
}
.logo img{
	width: 80px;
	height: auto;
	margin: 30px 0;
}
.top li{
	float: right;
	margin: 30px 30px;
}
.top li a{
	padding: 20px;
	border: 1px solid transparent;
	transition: color.5s,border .5s; 
}
.top li a:hover{
	border: 1px solid #fff;
	color: black;
}
section{
	margin: 40px 0;
}
section h2{
	margin-bottom: 0;
}
.interest li{
	float: left;
	margin: 20px 30px 0 30px;
	width: 140px;
	height:40px;
	background: rgba(86,181,227,.6) ;
	text-align: center;
	line-height: 40px;
	border-radius: 10px;
	transition: background-color .5s,border-radius .5s;
}
.interest li a{
	display: block;
	width: 140px;
	height: 40px;
}
.interest li:hover{
	background: rgba(86,181,227,.9) ;
	border-radius: 0;
}
 figure {
	float: left;
	width: 30%;
	overflow: hidden;
	margin: calc(10%/6);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
	position: relative;
}
 figure img{
	width: 100%;
	vertical-align: top;
	transition: all .5s;
}
 figure:hover img{
	cursor: pointer;
}
figure figcaption{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	height: 20px;
	color: #fff;
	opacity: 0;
	margin: auto;
	transition: opacity .5s; 
}
figure:hover figcaption{
	opacity: 1;
}
dt{
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	text-align: center;
	border-radius: 4px;
}
dd{
	display: inline-block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	background: #000;
	text-align: center;
	margin: 0 40px 0 5px;
	color: #fff;
	border-radius: 4px;
}
input,select{
	width: 32%;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 4px;
	padding-left: 1em;
	margin-bottom: 20px;
}
textarea,input[type="submit"]{
	width: 48%;
	height: 40px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 5px;
	
}
textarea{
	margin-right: 1%;
	line-height: 30px;
	padding-left: 1em;
}
input[type="submit"]{
	padding: 0;
	border: none;
	outline: none;
	background-color:  rgba(136,108,94,.7);
	transition: background .5s,border-radius .5s,color .5s;
}
input[type="submit"]:hover{
	background-color: rgba(136,108,94,.9);
	color: #fff;
	border-radius: 0;
}
footer p{
	text-align: center;
}

